:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);

    --dark-gray: hsl(0, 0%, 59%);
}


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--dark-cyan);
    background-image: url("./images/bg-pattern-top.svg");
    background-image: url("./images/bg-pattern-bottom.svg");
    text-align: center;
    font-family: "Kumbh Sans";
    font-size: 17px;
    letter-spacing: 1px;
}

main {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
    align-items: center;
    justify-content: center;
}

section {
    background-color: white;
    dbackground-image: url("./images/bg-pattern-card.svg");
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    border-radius: 15px;

}

img {
    width: 30%;
    border-radius: 100px;
    border: 5px solid white;
}
.name {
    font-weight: 700;
    margin-top: 1rem;
    color: var(--very-dark-desaturated-blue);
}
.age {
    font-weight: 400;
    color: var(--dark-grayish-blue);
}
.city {
    font-size: .8rem;
    margin: .6rem auto 1.2rem auto;
    color: var(--dark-grayish-blue);    
}

.columns {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.column_number {
    font-weight: 700;
    color: var(--very-dark-desaturated-blue);
}
.column_name {
    font-size: 0.6rem;
    color: var(--dark-grayish-blue);    
}

hr {
    height: 1px;
    width: 100%;
    color: var(--dark-gray);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { color: hsl(228, 45%, 44%); }